:root{
    --primary-color: ##ff7833;
    --secondary-color: #31333b;
    --titulo-color: #a2a5af;
    --background-color: 
   
}

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    color: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    
    
}

.main-header{
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}
.main-header li{

}

.main{
    background-color: #444856;
    flex: 1 0;
}

a{
    color: inherit;
}